@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700|Raleway:400,700,900');

.App {
  text-align: center;
}

#container {
    background: linear-gradient(to top, #6e79df, #425bbc);
}

.textfit-title {
    height: 40vh;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* begin custom styles */

/* ReactCSSTransitionGroup custom styles */

.enter {
  transform: translateY(-100%) !important;
  opacity: 1 !important;
}

.enter.enter-active {
  transform: translateY(0%) !important;
  transition: transform 1500ms ease 0s !important;
  opacity: 1 !important;
}

.peace {
    transform: translateY(-100%) !important;
    opacity: 1 !important;
}

.peace.peace-active {
  transform: translateY(0%) !important;
  transition: transform 1500ms ease 0s !important;
  opacity: 1 !important;
}

/* global */
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: 0;
    background-color: rgba(246, 246, 246, 1);
}

ul {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: rgba( 255, 255, 255, 1 );
    list-style-type: none;
}

/* fonts */
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    padding: 0;
    margin: 0;
}

.leftside h2 {
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 1);
    padding: 0;
    margin: 0rem;
    font-size: 2.3rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.leftside h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    line-height: auto;
    padding: 0;
    margin-top: .5rem;
}

.leftside h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    line-height: auto;
    padding: 0;
    margin-top: 1rem;
}

p {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: calc(16px + 0.2vw);
    line-height: calc(1.1rem + 0.5vw);
    padding: 0;
    margin: 0 0 1rem 0;
    color: rgba( 255, 255, 255, 1 );
}

.leftside p {
    color: rgba( 255, 255, 255, 1 );
}

.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

/* general */
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.sidebar {
    height: 100vh;
    padding: 0;
    border: 0;
}

/**************************** left side ***************************/

.leftside, #profiler {
    background-color: #1E1B1B;
    width: 14.5rem;
    height: 100vh;
}

#person img {
    max-width: 100%;
    max-height: 100%;
    height: 100px;
    padding: 0 0 1rem 0;
}

#person {
    height: 38vh;
    padding: 1rem;
    overflow-y: scroll;
}

#person::before {
    top:0;
    background-image: linear-gradient( to bottom,
        rgba( 0, 0, 0, 0 ) 95%, rgba( 0, 0, 0, 1 ) 100%);
    content: "\00a0";
    height: 38vh;
    width: 14.5rem;
    left: 0;
    position: absolute;
    pointer-events: none;
}

#tags {
    height: 62vh;
    overflow-y: scroll;
    padding: .5rem 0 2rem 0;
}

#tags::before {
    top: 38vh;
    background-image: linear-gradient( to bottom,
        rgba( 0, 0, 0, 1 ), rgba( 0, 0, 0, 0 ) 6%,rgba( 0, 0, 0, 0 ) 90%, rgba( 0, 0, 0, 1 ) 100%);
    content: "\00a0";
    height: 62vh;
    width: 14.5rem;
    left: 0;
    position: absolute;
    pointer-events: none;
}

#tags ul li {
    line-height: 3rem;
}

#about {
<<<<<<< HEAD
    border: 12px solid #000;
    border-top: none;
    width: 14.5rem;
    height: 62vh;
    top: 38vh;
    overflow-y: scroll;
    background-color: #000;
    padding: 1rem;
=======
    background-color: #333333;
    width: 10.5rem;
    height: 54vh;
    top: 46vh;
    padding: 2rem;
>>>>>>> Update readme; style About; make author generic
    position: absolute;
    transition: all 0.5s ease;
}

#about p {
    color: #fff;
}

#about a, #about a:visited{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    line-height: 1.25rem;
    font-weight: 700;
    font-size: .85rem;
    color: #4C6ADA;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    margin: 0 0 1rem 0;
}

#about a:hover, #about a:visited:hover {
    letter-spacing: .05rem;
    font-style: italic;
}

#about.about-hide {
    left: -14.5rem;
}

#about.about-show {
    left: 0;
}

#about a {
    color: #aaaaaa;
}

#about-button {
    padding: 0;
    font-weight: 700;
    color: #F1E9E7;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

#about-button:hover {
    font-style: normal;
}

.leftside h4 {
    font-weight: normal;
}

.leftside.person {
    padding: 0 1rem;
}

.leftside.display-pic {
    padding: 1rem;
    object-fit: cover   ;
}

.tagsTitle {
    padding: 1.5rem 0 0rem 1rem;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

.tagsItem {
    padding-bottom: .5rem;
    font-weight: lighter;
    width: 100%;
}


/**************************** right side ***************************/

#summary {
    color: #000;
    background: #F2F2F2;
    width: inherit;
    width: 19rem;
    height: 100vh;
}

.rightside {
    padding: 1.1rem;
    top: 0;
    background-size: 100% 100%;
}

.summaryText {
    color: rgba(0, 0, 0, 1);
}

/* .summaryTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.85rem;
    color: rgba(0, 0, 0, 1);
    line-height: 2.2rem;
} */

.summaryNames {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.summaryDate {
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.summaryPublication {
    font-style: italic;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.summaryTags {
    font-style: italic;
    font-size: .85rem;
    color: rgba(0, 0, 0, 1);
}

.summaryLink {
    font-weight: 700;
    color: #000;
}

.summaryLink.Engineering, .summaryLink.Engineering:visited {
    font-weight: 700;
    color: #BE8632;
}

.summaryLink.Clinical, .summaryLink.Clinical:visited {
    font-weight: 700;
    color: #BA4A39;
}

.summaryLink.Basic, .summaryLink.Basic:visited {
    font-weight: 700;
    color: #4C6ADA;
}

.summaryLink:hover, .summaryLink:visited:hover {
    letter-spacing: .05rem;
    font-style: italic;
}

.image {
    height: 25vh;
    padding: 0;
    border: 12px solid #000;
    background-size: cover;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.info {
    border: 12px solid #000;
    border-top: none;
    height: 75vh;
    overflow-y: scroll;
    width: 19rem;
}

.title {
    height: 100%;
    padding: 0px;
}

.title-inside {
    color: #000;
    padding-bottom: 2%;
}

.title-inside1 {
    padding-bottom: 6%;
    border-bottom: 2px solid #000;
}

.title-inside1.Engineering {
    padding-bottom: 6%;
    border-bottom: 2px solid #BE8632;
}

.title-inside1.Clinical {
    padding-bottom: 6%;
    border-bottom: 2px solid #BA4A39;
}

.title-inside1.Basic {
    padding-bottom: 6%;
    border-bottom: 2px solid #4C6ADA;
}


/**************************** timeline ****************************/

#timeline {
    height: 100vh;
    top: 0;
    display: flex;
    background: rgba(0 0 0 0);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    overflow-x: scroll;
}

.timeline-display {
    height: 100vh;
    width: 100%;
}

.year {
    height: 10%;
    min-width: 12px;
    display: flex;
    border: 5px;
    border-color: black;
    background-color: rgba(255, 0, 0, 0);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


button.timeEvent.match:hover {
    cursor: pointer;
}

.row {
    height: 90%;
    width: 90%;
    display: flex;
    background: rgba(255, 244, 244, 0);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

.year{
    height: 100%;
}

#timeline-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to bottom left, #F1E9E7, #C0B2B0);
    overflow: scroll;
    padding: 20px 20px 85px 20px;
}

#ruler {
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    bottom: 0;
    height: 12vh;
    margin-top: -12vh;
    padding: 0 18px;
}
.measure {
    height: 2em;
    width: 0.5em;
    padding: 3px;
    min-width: 12px;
}

p.yearName {
    color: rgba(0, 0, 0, 1);
    line-height: 1.25rem;
    margin: .5rem 0 0 0;
}

.tick {
    width: 1px;
    left: 70%;
    height: 25%;
    top: 0;
    background-color: rgba(0, 0, 0, 1);
}
.bigTick {
    width: 1px;
    left: 70%;
    height: 50%;
    top: 0;
    background-color: rgba(0, 0, 0, 1);
}

li {
    list-style: none  !important;
    padding: 0;
    border: 0;
    margin: 0;
}

#master {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.year {
    padding: 2px;
}
button.type, button.category {
    padding-left: 2.5rem;
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    width: 100%;
    left: -4rem;
    text-align: left;
    text-transform: capitalize;
    transition: 0.5s 0s ease all;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    outline: none;
    border: 0;
    cursor: pointer;
}
button.type.selected, button.category.selected {
    background-color: #FFFFFF;
    color: #1E1B1B;
}
button.type.unselected, button.category.unselected {
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
}
button.timeEvent {
    background-color: #000;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 50%);
    border: 0;
    border-radius: 50%;
    width: 100%;
    min-width: 0.5rem;
    height: auto;
    min-height: 0.5rem;
    outline: none;
    padding: 0;
}
button.timeEvent.no-match {
    transform: scale(0.7, 0.7);
    opacity: 0.2;
    transition: all 1s ease;
}
button.timeEvent.match {
    transform: scale(1.5, 1.5);
    opacity: 1;
    transition: all 1s ease-out;
}

#tutorialScreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible;
    padding: 5rem;
  }

.tutorialMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vmin;
    height: 80vmin;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 1);
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px; /* future proofing */
    -khtml-border-radius: 30px; /* for old Konqueror browsers */
  }

.tutorialHeader , .mobileHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutorialHeader img , .mobileMessage img {
    max-width: 100%;
    max-height: 100%;
    width: 70%;
}

.tutorialMessage h1 , .mobileMessage h1 {
    line-height: 2rem;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 1rem;
}

.tutorialMessage p , .mobileMessage p {
   color: rgba(0, 0, 0, 1);
   padding-bottom: 1rem;
}

#tutorialScreen.tutorial-hide {
    display: none;
}

#tutorialScreen button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#tutorialScreen button:hover,
#tutorialScreen button:focus {
    background: #0053ba;
}

#tutorialScreen button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#tutorialScreen button:active {
    transform: scale(0.99);
}

#tutorial-close {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.mobileScreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
  }

.mobileMessage {
    display: none;
}

.mobileText{
    width: 80%;
}

@media (max-width: 1000px) {

    #container {
        overflow-x: hidden;
    }

    #tutorialScreen {
        display: none;
    }

    #mobileScreen {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, .9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        visibility: visible;
        padding: 5rem;
      }

    #mobileScreenbg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100vw;
        background: url(./media/staticbg.gif);
        opacity: .9;
        z-index: 0;
    }

    .mobileMessage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vmin;
        min-width: 350px;
        min-height: 500px;
        padding: 3rem;
        background-color: rgba(255, 255, 255, 1);
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px; /* future proofing */
        -khtml-border-radius: 30px; /* for old Konqueror browsers */
        z-index: 1;
      }

      .mobileMessage p {
         color: rgba(0, 0, 0, 1);
         padding: 0;
         margin-bottom: 1rem;
      }

      .mobileMessage img {
          max-width: 100%;
          max-height: 100%;
      }

      .mobileHeader {
          padding-bottom: 2rem;
      }

      .mobileText {
          width: 90%;
      }

      .mobileText a , .mobileText a:visited {
          font-family: 'Karla', sans-serif;
          font-weight: 700;
          line-height: 1.25rem;
          font-weight: 700;
          font-size: .85rem;
          color: #4C6ADA;
          cursor: pointer;
          text-decoration: underline;
          padding: 0;
          margin: 0 0 1rem 0;
      }

      .mobileText a:hover, .mobileText a:visited:hover {
          letter-spacing: .05rem;
          font-style: italic;
      }
}

@media (max-height: 700px) {


      #container {
          overflow-x: hidden;
      }

      #tutorialScreen {
          display: none;
      }

      #mobileScreen {
          position: absolute;
          top: 0;
          left: 0;
          height: auto;
          width: 100vw;
          background-color: rgba(0, 0, 0, .9);
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          visibility: visible;
          padding: 5rem;
        }

      #mobileScreenbg {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100vw;
          background: url(./media/staticbg.gif);
          opacity: .9;
          z-index: 0;
      }

      .mobileMessage {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 80vmin;
          min-width: 350px;
          min-height: 500px;
          padding: 3rem;
          background-color: rgba(255, 255, 255, 1);
          -moz-border-radius: 30px;
          -webkit-border-radius: 30px;
          border-radius: 30px; /* future proofing */
          -khtml-border-radius: 30px; /* for old Konqueror browsers */
          z-index: 1;
        }

        .mobileMessage p {
           color: rgba(0, 0, 0, 1);
           padding: 0;
           margin-bottom: 1rem;
        }

        .mobileMessage img {
            max-width: 100%;
            max-height: 100%;
        }

        .mobileHeader {
            padding-bottom: 2rem;
        }

        .mobileText {
            width: 90%;
        }

        .mobileText a , .mobileText a:visited {
            font-family: 'Karla', sans-serif;
            font-weight: 700;
            line-height: 1.25rem;
            font-weight: 700;
            font-size: .85rem;
            color: #4C6ADA;
            cursor: pointer;
            text-decoration: underline;
            padding: 0;
            margin: 0 0 1rem 0;
        }

        .mobileText a:hover, .mobileText a:visited:hover {
            letter-spacing: .05rem;
            font-style: italic;
        }

}
