.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* begin custom styles */

/* global */
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: 0;
    background-color: rgba(246, 246, 246, 1);
}

ul {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: rgba( 255, 255, 255, 1 );
    list-style-type: none;
}

/* fonts */
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    color: rgba(255, 255, 255, 1);
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    line-height: auto;
    padding: 0;
    margin: 0rem;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    line-height: auto;
    padding: 0;
    margin-top: .5rem;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    line-height: auto;
    padding: 0;
    margin-top: 1rem;
}

p {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 0;
    margin: 0 0 1rem 0;
    color: rgba( 255, 255, 255, 1 );
}

/* general */
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.sidebar {

    height: 100vh;
    padding: 0;
    border: 0;
}

/* left side */

#profiler {
    background-color: #3B3432;
    width: 12rem;
    height: 100vh;
}

.leftside {
    width: 12rem;
    padding: 1rem;
}

.leftside h2, .leftside h3 {
    font-weight: normal;
}

.display-pic {
    height: 15vh;
}

.display-pic img {
    max-width: 100%;
    max-height: 100%;
}

.person {
    height: 30vh;
    background-color: #3B3432;
}

.tags {
    height: 55vh;
    background: linear-gradient (to top right, #6e79df, #425bbc);
    overflow-y: scroll;
}

.tags ul li{
    line-height: 2rem;

}


/* right side */

#summary {
    background: rgba(222, 244, 244, 1);
    width: inherit;
    box-shadow: -7px 0px 15px rgba(0, 0, 0, 0.3);
    width: 19rem;
    height: 100vh;
}
.rightside {
    padding: 1.1rem;
}

.image {
    height: 25vh;
    padding: 0;
    border: 12px solid #000;
}

.image img {
    object-fit: cover;
}

.info {
    border: 12px solid #000;
    border-top: none;
    height: 75vh;
    overflow-y: scroll;
    width: 19rem;
}

.title {
    height: 100%;
    padding: 0px;
}

.title-inside {
    padding-bottom: 2%;

}

.title-inside1 {
    padding-bottom: 6%;
    border-bottom: 1px dotted #000;
}

/* timeline */

#timeline{
    height: 100vh;
    top: 0;
/*    left: 15vw; */
    display: flex;
    background: purple;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    overflow-x: scroll;
}

.timeline {
    height: 100vh;
    width: 100%;
}

.year {
    height: 10%;
    min-width: 12px;
    display: flex;
    border: 5px;
    border-color: black;
    background-color: rgba(255, 0, 0, 0);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

.row {
    height: 90%;
    width: 90%;
    display: flex;
    background: rgba(255, 244, 244, 0);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

.year{
    height: 100%;
}

#timeline-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to bottom left, #6e79df, #425bbc);
    overflow: scroll;

    padding: 20px;
}

#ruler {
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    bottom: 0;
    height: 12vh;
    margin-top: -12vh;
    padding: 0 18px;
}
.measure {
    height: 2em;
    width: 0.5em;
    padding: 3px;
    min-width: 12px;
}

p.yearName {
    line-height: 1.25rem;
    margin: 0;
}

.tick {
    width: 1px;
    left: 70%;
    height: 33%;
    top: 0;
    background-color: white;
}
.bigTick {
    width: 1px;
    left: 70%;
    height: 66%;
    top: 0;
    background-color: white;
}

li {
    list-style: none  !important;
    padding: 0;
    border: 0;
    margin: 0;
}

#master {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.year {
    padding: 2px;
}
button.type, button.category {
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    outline: none;
    border: 0;
}
button.timeEvent {
    background-color: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 60%);
    border: 0;
    border-radius: 50%;
    width: 100%;
    min-width: 0.5rem;
    height: 100%;
    min-height: 0.5rem;
    outline: none;
    padding: 0;
}

/*
@media (max-width: 1100px) {
    #timeline, #ruler {
        flex-direction: column;
    }

    #timeline-inner {
        flex-direction: column-reverse;
    }
    .year {
        flex-direction: row;
        height: auto;
        width: 100%;
    }

}
*/
